<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateGameListFromMameXML.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CreateGameListFromMameXML.My.MySettings>
            <setting name="MameXML" serializeAs="String">
                <value />
            </setting>
            <setting name="MameEXE" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenShotDir" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoDir" serializeAs="String">
                <value />
            </setting>
            <setting name="HistoryDAT" serializeAs="String">
                <value />
            </setting>
            <setting name="nPlayersINI" serializeAs="String">
                <value />
            </setting>
            <setting name="FavouritesINI" serializeAs="String">
                <value />
            </setting>
            <setting name="RatingINI" serializeAs="String">
                <value />
            </setting>
            <setting name="ROMDir" serializeAs="String">
                <value />
            </setting>
            <setting name="SnapPrepend" serializeAs="String">
                <value />
            </setting>
            <setting name="SnapAppend" serializeAs="String">
                <value>-image</value>
            </setting>
            <setting name="SnapExt" serializeAs="String">
                <value />
            </setting>
            <setting name="VideoExt" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeXML" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeVideo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeROM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeSnapPrepend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeSnapAppend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeRating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeFavourite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludenPlayers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RomExt" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeMameInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MameInfoDAT" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeMarquee" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeGenre" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MarqueeDir" serializeAs="String">
                <value />
            </setting>
            <setting name="GenreINI" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeHiddenCat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HiddenCat" serializeAs="String">
                <value>mahjong;computer;casino;</value>
            </setting>
            <setting name="IncludeHiddenINI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HidenINI" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeHideBIOS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeRatingHiddenGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RatingHiddenAmount" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeFavGamesRating" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RatingFavAmount" serializeAs="String">
                <value />
            </setting>
            <setting name="IncludeEmuStatusInDesc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeHiddenDriverList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HiddenDriverList" serializeAs="String">
                <value />
            </setting>
        </CreateGameListFromMameXML.My.MySettings>
    </userSettings>
</configuration>